---
http_interactions:
- request:
    method: put
    uri: https://test.pedals-delivery.com/api/v1/orders/604
    body:
      encoding: UTF-8
      string: '{"id":604,"status":"cancelled"}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
    body:
      encoding: UTF-8
      string: '{"field":null,"message":"This order is already cancelled"}'
  recorded_at: Tue, 10 Mar 2020 09:57:25 GMT
recorded_with: VCR 3.0.3
