---
http_interactions:
- request:
    method: post
    uri: https://test.pedals-delivery.com/api/v1/quotes
    body:
      encoding: UTF-8
      string: '{"pickup":{},"dropoff":{"address":"The British Museum","postcode":"WC1B
        3DG","lat":51.5191683,"lng":-0.1290927},"timing":"flexible","earliestDeliveryTime":"2016-06-12T11:00:00Z","latestDeliveryTime":"2016-06-12T12:00:00Z"}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Www-Authenticate:
      - Basic realm="Grails Realm"
    body:
      encoding: UTF-8
      string: '{"timestamp":1585155184763,"status":401,"error":"Unauthorized","message":"Bad
        credentials","path":"/api/v1/quotes"}'
  recorded_at: Wed, 25 Mar 2020 16:53:04 GMT
recorded_with: VCR 3.0.3
