---
http_interactions:
- request:
    method: post
    uri: https://test.pedals-delivery.com/api/v1/quotes
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":"110 Hampstead Road","postcode":"NW1 2LS","lat":51.5284878,"lng":-0.1290927},"dropoff":{"address":"The
        British Museum","postcode":"WC1B 3DG","lat":51.5191683,"lng":-0.1290927},"timing":"flexible","earliestDeliveryTime":"2016-06-12T11:00:00Z","latestDeliveryTime":{}}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
    body:
      encoding: UTF-8
      string: '{"field":"earliestDeliveryTime","message":"We need to know the latest
        time the package can be delivered."}'
  recorded_at: Mon, 09 Mar 2020 16:55:58 GMT
recorded_with: VCR 3.0.3
