---
http_interactions:
- request:
    method: post
    uri: https://test.pedals-delivery.com/api/v1/quotes
    body:
      encoding: UTF-8
      string: '{"pickup":{},"dropoff":{"address":"The British Museum","postcode":"WC1B
        3DG","lat":51.5191683,"lng":-0.1290927},"timing":"flexible","earliestDeliveryTime":"2016-06-12T11:00:00Z","latestDeliveryTime":"2016-06-12T12:00:00Z"}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
    body:
      encoding: UTF-8
      string: '{"field":null,"message":"Sorry, we couldn''t find a route from the
        pick-up to the drop-off"}'
  recorded_at: Mon, 09 Mar 2020 16:50:39 GMT
recorded_with: VCR 3.0.3
