---
http_interactions:
- request:
    method: put
    uri: https://test.pedals-delivery.com/api/v1/orders/592
    body:
      encoding: UTF-8
      string: '{"id":592,"status":""}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <CREDENTIALS>
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
    body:
      encoding: UTF-8
      string: '{"field":"status","message":"Property [status] of class [class pedals.OrderCancel]
        cannot be null"}'
  recorded_at: Mon, 09 Mar 2020 10:22:29 GMT
recorded_with: VCR 3.0.3
