---
http_interactions:
- request:
    method: post
    uri: https://test.pedals-delivery.com/api/v1/orders
    body:
      encoding: UTF-8
      string: '{"quote":13509,"senderName":"","senderContact":"07700900776","receiverName":"Elrond","receiverContact":"02079460683","description":"The
        One Ring","specialInstructions":"Package weight fluctuates"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <CREDENTIALS>
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
    body:
      encoding: UTF-8
      string: '{"field":"senderName","message":"The name of the person sending the
        package (senderName) is required"}'
  recorded_at: Sun, 08 Mar 2020 17:52:29 GMT
recorded_with: VCR 3.0.3
