---
http_interactions:
- request:
    method: post
    uri: https://test.pedals-delivery.com/api/v1/orders
    body:
      encoding: UTF-8
      string: '{"quote":13846,"senderName":"Gandalf","senderContact":"07700900776","receiverName":"Elrond","receiverContact":"","description":"The
        One Ring","specialInstructions":"Package weight fluctuates"}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
    body:
      encoding: UTF-8
      string: '{"field":"receiverContact","message":"The phone number of the person
        receiving the package (receiverContact) is required"}'
  recorded_at: Tue, 10 Mar 2020 09:03:58 GMT
recorded_with: VCR 3.0.3
