---
http_interactions:
- request:
    method: get
    uri: https://test.pedals-delivery.com/api/v1/orders/673
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
    body:
      encoding: ASCII-8BIT
      string: '{"cyclist":null,"description":"The One Ring","dropoff":{"address":"The
        British Museum","postcode":"WC1B 3DG","lat":51.519362000000000000,"lng":-0.126873000000000000},"dropoffs":[{"id":771,"address":"The
        British Museum","postcode":"WC1B 3DG","lat":51.519362000000000000,"lng":-0.126873000000000000,"receiver":{"name":"Elrond","contact":"02079460683"}}],"earliestCollectionTime":"2020-03-26T09:00:00Z","earliestDeliveryTime":"2020-03-26T09:00:00Z","id":673,"latestCollectionTime":"2020-03-26T17:41:54Z","latestDeliveryTime":"2020-03-26T18:00:00Z","pickup":{"address":"110
        Hampstead Road","postcode":"NW1 2LS","lat":51.528275000000000000,"lng":-0.138243000000000000},"price":1006,"receiverContact":"02079460683","receiverName":"Elrond","senderContact":"07700900776","senderName":"Gandalf","specialInstructions":"Package
        weight fluctuates","status":"available"}'
  recorded_at: Fri, 27 Mar 2020 09:15:46 GMT
recorded_with: VCR 3.0.3
