---
http_interactions:
- request:
    method: get
    uri: https://test.pedals-delivery.com/api/v1/orders/604
    body:
      encoding: UTF-8
      string: '{"id":604}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
    body:
      encoding: UTF-8
      string: '{"field":null,"message":"This order does not exist"}'
  recorded_at: Tue, 10 Mar 2020 09:56:22 GMT
recorded_with: VCR 3.0.3
