---
http_interactions:
- request:
    method: get
    uri: https://test.pedals-delivery.com/api/v1/orders/602
    body:
      encoding: UTF-8
      string: '{"id":602}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <CREDENTIALS>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
    body:
      encoding: UTF-8
      string: '{"field":null,"message":"This order does not exist"}'
  recorded_at: Mon, 09 Mar 2020 11:29:04 GMT
recorded_with: VCR 3.0.3
