---
http_interactions:
- request:
    method: put
    uri: https://test.pedals-delivery.com/api/v1/orders/592
    body:
      encoding: UTF-8
      string: '{"id":592,"status":"cancelled"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <CREDENTIALS>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
    body:
      encoding: ASCII-8BIT
      string: '{"id":592,"refundAmount":1006,"status":"cancelled"}'
  recorded_at: Mon, 09 Mar 2020 10:11:46 GMT
recorded_with: VCR 3.0.3
