---
http_interactions:
- request:
    method: post
    uri: https://test.pedals-delivery.com/api/v1/orders
    body:
      encoding: UTF-8
      string: '{"quote":13509,"senderName":"Gandalf","senderContact":"07700900776","receiverName":"Elrond","receiverContact":"02079460683","description":"The
        One Ring","specialInstructions":"Package weight fluctuates"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <CREDENTIALS>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
    body:
      encoding: UTF-8
      string: '{"cyclist":null,"description":"The One Ring","dropoff":{"address":"The
        British Museum","postcode":"WC1B 3DG","lat":51.519362000000000000,"lng":-0.126873000000000000},"dropoffs":[{"id":682,"address":"The
        British Museum","postcode":"WC1B 3DG","lat":51.519362000000000000,"lng":-0.126873000000000000,"receiver":{"name":"Elrond","contact":"02079460683"}}],"earliestCollectionTime":"2020-03-08T09:00:00Z","earliestDeliveryTime":"2020-03-08T09:00:00Z","id":584,"latestCollectionTime":"2020-03-08T17:41:54Z","latestDeliveryTime":"2020-03-08T18:00:00Z","pickup":{"address":"110
        Hampstead Road","postcode":"NW1 2LS","lat":51.528275000000000000,"lng":-0.138243000000000000},"price":1006,"receiverContact":"02079460683","receiverName":"Elrond","senderContact":"07700900776","senderName":"Gandalf","specialInstructions":"Package
        weight fluctuates","status":"available"}'
  recorded_at: Sun, 08 Mar 2020 16:56:19 GMT
recorded_with: VCR 3.0.3
